@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: #333;
}

::-webkit-scrollbar { display: none; }

/* 헤더 */

ul {
    list-style: none;
}

.nav-container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #0E1F46;
}

.navigation h1{
    margin-left: 120px;
}

.navigation ul{
    display: flex;
    flex-direction: row;
    margin-right: 120px;
}

.navigation li{
    list-style: none;
    font-size: 16px;
    margin-left: 50px;
}

.navigation a{
    text-decoration: none;
    color: #0E1F46;
}

.navigation li :hover{
    border-bottom: solid 4px #B1E7FC;
    padding-bottom: 4px;
}

.sub_header {
    width: 100vw;
    height: 48px;
    
}

.sub_li {
    margin: auto;
    margin-left: 200px;
    display: flex;
    width: 600px;
    line-height: 48px;
    justify-content: space-between;
    font-size: 14px;
}

.sub_li a {
    text-decoration: none;
    color: #333;
}

#emphasis {
    color: #333;
    font-weight: bold;
}



/* about 페이지 */


/* 메인 콘텐츠 */


#ab_big {
    width: 652px;
    height: 410px;
    position: absolute;
    top: 224px;
    left: 25%;
    background-image: url(./img/about/스크린샷\ 2021-12-14\ 오전\ 2.07\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#ab_kpu {
    width: 440px;
    height: 254px;
    background-color: #3B72EE;
    border-radius: 10px;
    position: absolute;
    top: 275px;
    right: 25%;
}

#ab_kpu p{
    font-size: 45px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    line-height: 65px;
}



#ab_small {
    width: 212px;
    height: 124px;
    background: #C4C4C4;
    position: absolute;
    top: 590px;
    right: 37%;
    background-color: #3B72EE;
}



#ab_small2 {
    width: 212px;
    height: 124px;
    background: #C4C4C4;
    position: absolute;
    top: 590px;
    right: 25%;
    background-color: #3B72EE;
    
}

#ab_small p, #ab_small2 p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin-top: 22px;
    line-height: 28px;

}

#ab_back {
    font-size: 194px;
    font-weight: 500;
    color: rgba(59, 114, 238, 0.15);
    position: absolute;
    top: 767px;
    
}

#design_back {
    font-size: 194px;
    font-weight: 500;
    color: rgba(59, 114, 238, 0.15);
    position: absolute;
    top: 1700px;
    right: -15%;
    transform: rotate(-90deg);
    z-index: 999;
}

.ab_exp {
    width: 70%;
    text-align: center;
    position: absolute;
    top: 858px;
    transform: translate(-50%, -20%);
    left: 50%;
    right: 50%;

}

#ab_name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    
    
}

.ab_pur {
    width: 100%;
    height: 312px;
    position: absolute;
    background-color: #f6f6f6;
    top: 1128px;
    left: 0;

}

.ab_pur div {
    width: 50%;
    margin-left: 15%;
}

.ab_pur h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 72px;
}

.ab_pur h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 28px;
    color: #3B72EE;
}


.ab_pur p {
    font-size: 15px;
    line-height: 28px;
    
}


.ab_pur2 {
    width: 50%;
    position: absolute;
    display: flex;
    top: 1800px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);

}

.ab_pur2 h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}



#ab_right1 {
    width: 212px;
    height: 223px;
    background-color: #3B72EE;
    filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
    position: absolute;
    border-radius: 10px;
    top: 140px;
    right: 192px;
}

#ab_right2 {
    width: 155px;
    height: 346px;
    background-color: #3B72EE;
    filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
    position: absolute;
    border-radius: 10px;
    top: 17px;
    right: 17px;
}

#ab_right3 {
    width: 155px;
    height: 346px;
    background-color: #3B72EE;
    filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
    background-color: rgba(59, 114, 238, 0.44);
    position: absolute;
    border-radius: 10px;
    top: 0px;
    right: 0;
}

#pur {
    margin-top: 102px;
}

#pur h2 {
    margin-bottom: 20px;
}

#pur p {
    width: 446px;
    height: 334px;
    line-height: 28px;
    
}

#ab_cur {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    position: absolute;
    top: 2150px;
    right: 0;
    left: 0;
}

#cur_box {
    width: 100%;
    height: 801px;
    background-color: #EBEBEB;
    background-image: url(./img/about/스크린샷\ 2021-12-14\ 오전\ 2.44\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: absolute;
    top: 2200px;
}

#ab_footer {
    position: absolute;
    height: 300px;
    top: 2600px;
}


/* 푸터 */

footer {
    width: 100vw;
    height: 100px; 
    margin-top: 140px;
}

footer h1 {
    text-align: center;
    line-height: 230px;
    color: rgb(139, 139, 139);
}



/* student 페이지 */

/* 메인 콘텐츠 */

.stu_tag {
    width: 100%;
    height: 336px;
    margin: auto;
    position: relative;
}

#top_img {
    width: 86px;
    height: 37px;
    background-image: url(./img/Group\ 125.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 115px;

}

.stu_tag p {
    text-align: center;
    padding-top: 140px;
    font-size: 25px;
    font-weight: 600;
    color: #3B72EE;
}

input:focus {outline:none;}

#stu_search {
    position: absolute;
    width: 684px;
    padding-left: 290px;
    right: 50%;
    left: 50%;
    top: 216px;
    transform: translate(-50%, -50%);
    height: 44px;
    border: none;
    border-radius: 20px; 
    filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.25));
}

#stu_search::placeholder {
    color: #fff;
    opacity: 0.7;
    font-size: 17px;
}

#stu_icon {
    position: absolute;
    font-size: 20px;
    top: 204px;
    color: #3B72EE;
    left: calc( 35% + 684px );
}

.stu_tag ul {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 268px;
    width: 20%;
    left: 40%;
}

.stu_tag ul li a {
    
    color: #333;
    text-decoration: none;
    background-color: #B9CEFF;
    padding: 4px 16px;
    border-radius: 13px;
    font-size: 14px;
    text-align: center;
}


.stu_main {
    width: 948px;
    display: flex;
    margin: auto;
    margin-top: 36px;
    gap: 18px;
    flex-wrap: wrap;
}

.students {
    width: 292px;
    height:383px;
    position: relative;
    margin-bottom: -50px;
    
}

.students:nth-child(4) {
    background-image: url(./img/졸전\ 사진/jeonminjae.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(6) {
    background-image: url(./img/졸전\ 사진/kimjuyeong.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(8) {
    background-image: url(./img/졸전\ 사진/kimjiho.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(10) {
    background-image: url(./img/졸전\ 사진/junghyeonsoo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(18) {
    background-image: url(./img/졸전\ 사진/kimhyeokjin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(16) {
    background-image: url(./img/졸전\ 사진/leewonjae.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(14) {
    background-image: url(./img/졸전\ 사진/masungjin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(12) {
    background-image: url(./img/졸전\ 사진/moonjisub.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(11) {
    background-image: url(./img/졸전\ 사진/sinyoungjoon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(13) {
    background-image: url(./img/졸전\ 사진/hahyemi.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(15) {
    background-image: url(./img/졸전\ 사진/kangyouna.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(17) {
    background-image: url(./img/졸전\ 사진/kimgoeun.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(2) {
    background-image: url(./img/졸전\ 사진/leehyeonna.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(1) {
    background-image: url(./img/졸전\ 사진/sujungmin.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(3) {
    background-image: url(./img/졸전\ 사진/kimminjung.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(5) {
    background-image: url(./img/졸전\ 사진/kimsojung.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(7) {
    background-image: url(./img/졸전\ 사진/leechaeyeon.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.students:nth-child(9) {
    background-image: url(./img/졸전\ 사진/leedaeun.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}





.students:nth-child(3n + 2) {
    margin: 60px 18px 0 18px;
}


#explain {
    position: absolute;
    left: 38px;
    bottom: 68px;
    width: 212px;
    height: 212px;
    background: rgba(59, 114, 238, 0.58);
    border-radius: 300px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    opacity: 0;
}

#explain h4 {
    margin-top: 20px;
    font-size: 18px;
    line-height: 90px;
    color: #fff;
}

#explain p{
    color: #fff;
}



.students:hover #explain {
    opacity: 1;
    transition: all 0.5s;
}

#stu_union {
    background-image: url(./img/stu_Union.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    width: 360px;
    height: 360px;
    position: absolute;
    top: 846px;
    left: -201px;
    z-index: -999;
}

#stu_union2 {
    background-image: url(./img/stu_Union2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 3000px;
    right: 200px;
    z-index: -999;
}


#stu_rec {
    background-image: url(./img/stu_Rectangle\ 150.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    width: 360px;
    height: 360px;
    position: absolute;
    top: 1698px;
    right: -101px;
    z-index: -999;
}




/* works 페이지 */


/* 메인 */

#work_tag {
    background-image: url(./img/stu_Polygon\ 1.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 378px;
}

#work_tag p {
    color: #fff;
}

#work_tag > #stu_search {
    border: 2px solid #fff;
}

#work_tag > #stu_icon {
    position: absolute;
    font-size: 20px;
    top: 204px;
    color: #fff;
    left: calc( 35% + 684px );

}

.work_main {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 140px;
    justify-content: space-between;
}

#work_mom {
    width: 409px;
    height: 443px;
}

#first_work > #work_mom:nth-child(1) {
    background-image: url(./img/work/Frame\ 57.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#first_work > #work_mom:nth-child(2) {
    background-image: url(./img/work/image\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#second_work > #work_mom:nth-child(1) {
    background-image: url(./img/work/image\ 40.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#second_work > #work_mom:nth-child(2) {
    background-image: url(./img/work/image\ 37.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#work_mname {
    display: flex;
    gap: 20px;
    width: 70%;
    margin: auto;
    font-size: 24px;
    margin-top: 24px;
    font-weight: 500;
}

#work_hash {
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    background-color: #C4C4C4;
    border-radius: 20px;
    margin-top: auto;
    padding: 0px 10px;
}

.work_3d {
    width: 55%;
    height: 440px;
    background-color: #EBEBEB;
    margin: auto;
    margin-top: 80px;    
}

#fir_3d {
    background-image: url(./img/work/Frame\ 59.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#sec_3d {
    background-image: url(./img/work/Frame\ 55.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#right_work {
    margin-left: 16%;
    
}

#work_bottom {
    display: flex;
    width: 10%;
    margin: auto;
    margin-top: 200px;
    justify-content: space-between;
    
    
}

#work_bottom a{
    text-decoration: none;
    text-align: center;
    margin: auto;

}

#work_deco {
    position: absolute;
    background-image: url(./img/work_Rectangle\ 159.png);
    background-size: cover;
    background-repeat: no-repeat;
    width : 360px;
    height: 360px;
    top: 1400px;
    left: -120px;
}

@media (min-width: 1920px) {
    .work_main {
        width: 50%;
    }

    #work_mname {
        width:50%;
    }

    #right_work {
        margin-left: 25%;
    }
}





/* company 페이지 */


/* 메인 콘텐츠*/



#com_title {
    text-align: center;
    font-weight: 500;
    font-size: 39px;
    color: #3B72EE;
    padding-left: 48%;
    margin-top: 60px;
    margin-bottom: 60px;
}


.company {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 40px;
}

.com {
    border: 1px solid #333;
    width: 364px;
    height: 600px;
    position: relative;
    border-radius: 20px;
}




.com_img {
    width: 180px;
    height:180px;
    margin: auto;
    margin-top: 88px;
    margin-left: 32px;
    background-color: #fff;
    border-radius: 1000px;
    
}

#logo1 {
    background-image: url(./img/넥슨로고.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#logo2 {
    background-image: url(./img/삼성로고.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#logo3 {
    background-image: url(./img/카카오로고.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#logo4 {
    background-image: url(./img/쿠팡로고.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


.com p {
    text-align: center;
}

#sm_p {
    position: absolute;
    font-size: 10px;
    color: #3B72EE;
    margin-bottom: 4px;
    top: 120px;
    right: 48px;
}

.companyName {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    top: 142px;
    left: 250px;
    text-decoration: none;
    text-align: center;
    
}

.com h2 {
    text-align: center;
    color: #333;
}

.com ul {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
}

.com li {
    background-color: #E7E7E7;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 14px;
}

#talk {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 16px;
    margin-top: 28px;
    margin-bottom: 50px;
}

#com_go {
    background-color: #3B72EE;
    padding: 12px 70px;
    color: #fff;
    border-radius:10px;
    text-decoration: none;

}

#com_deco {
    background-image: url(./img/com_Group\ 86.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    position: absolute;
    top : 545px;
    left: -200px;
}

#com_deco2 {
    background-image: url(./img/com_Rectangle\ 150.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
    top : 1650px;
    right: 00px;
}

#next {
    display: flex;
    gap: 40px;
    width: 70%;
    margin: auto;
    justify-content: center;
    margin-top: 94px;
    
}

#next li a{
    text-decoration: none;
    color: #333;
    font-size: 20px;

}

#now {
    font-weight: bold;
}



/* students_2 페이지 */

.stu2_name {
    background-image: url(./img/stu_2_Polygon\ 1.png);
    background-size: cover;
    width: 100%;
    height: 603px;
    position: relative;
    margin-bottom: 90px;
}

.stu2_name h1 {
    position: absolute;
    color: #fff;
    top: 128px;
    left: 400px;
    font-size: 30px;

}

.stu2_name ul {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 240px;
    left: 400px;
}

.stu2_name ul a{
    color: #333;
    font-weight: bold;
    text-decoration: none;
    background-color: #B1E7FC;
    padding: 4px 24px;
    border-radius: 20px;
}

#stu2_img {
    width: 480px;
    height: 480px;
    position: absolute;
    right: 15%;
    top: 20px;
    background-image: url(./img/students_detail/프로필페이지사진\ 1.png);
    background-repeat: no-repeat;
    filter: drop-shadow(0px 6px 20px rgba(0, 0, 0, 0.25));
}

.stu2_about {
    width: 65%;
    margin: auto;
}

#stu2_pro {

    background-size: cover;
    width: 500px;
    height: 410px;
    position: absolute;
    top: 821px;
}

#stu2_pro:nth-child(1) {
    top: 850px;
    background-image: url(./img/students_detail/Vector\ 21.png);
    left: 19.5%;
}

#stu2_pro:nth-child(2) {
    height: 493px;
    width: 396px;
    top: 730px;
    background-image: url(./img/students_detail/프로필\ 페이지\ -\ 증명사진_\ 1.png);
    background-size: cover;
    z-index: 999;
    left: 21%;
}


#stu2_pro:nth-child(3) {
    top: 830px;
    background-image: url(./img/stu2_Vector\ 21.png);
}


.stu2_me {
    width: 40%;
    position: absolute;
    top: 821px;
    right: 180px;
    
}

.stu2_me h3 {
    color: #333;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
}

#stu2_line {
    background-image: url(./img/stu2_line.png);
    background-size: cover;
    width: 169px;
    height: 15px;
    margin-left: -25px;
    margin-bottom: 40px;
}

.stu2_about p{
    font-size: 16px;
    width: 446px;
}

.what_i {
    width: 30%;
    margin: auto;
    margin-top: 639px;

    
    
}

.what_i h3 {
    color: #333;
    font-size: 24px;
    font-weight: 500;
    text-align:center;
    margin-bottom: 10px;
    
}

#stu2_wline {
    background-image: url(./img/stu2_line2.png);
    background-size: cover;
    width: 211px;
    height: 15px;
    margin:auto;
}

.what_i ul {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.stu2_do {
    width: 96px;
    height: 96px;
    background-color: #A9C3FF;
    border-radius: 200px;
}

#do_1 {
    background-image: url(./img/students_detail/blender아이콘\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#do_2 {
    background-image: url(./img/students_detail/포토샵로고\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#do_3 {
    background-image: url(./img/students_detail/일러로고\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#do_4 {
    background-image: url(./img/students_detail/프리미어로고\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.what_i ul li p {
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 700;
}

.stu2_works {
    margin:auto;
    margin-top : 124px;
    width: 60%;
    
}

.stu2_works h3 {
    color: #333;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.stu2_grid {
    margin-top: 67px;
    width: 100%;
    height: 566px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 18px;
}

.stu2_work {
    filter: drop-shadow(0px 2px 13px rgba(104, 104, 104, 0.25));
}

.stu2_work:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(./img/students_detail/프로필work사진2\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;

}


.stu2_work:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 8;
    background-image: url(./img/students_detail/스크린샷\ 2021-12-14\ 오전\ 1.32\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.stu2_work:nth-child(3) {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 8;
    grid-column-end: 10;
    background-image: url(./img/students_detail/프로필work사진6\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.stu2_work:nth-child(4) {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(./img/students_detail/프로필work사진4\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.stu2_work:nth-child(5) {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 7;
    background-image: url(./img/students_detail/프로필work사진3\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.stu2_work:nth-child(6) {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 7;
    grid-column-end: 10;
    background-image: url(./img/students_detail/프로필work사진5\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.stu2_contact h3 {
    text-align: center;
    color: #333;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 116px;
}



#students_about {
    width: 60%;
    height: 100%;
    border: 1px solid #333;
    display: flex;
    flex-wrap: wrap;
    
}

#students_about h2, #students_about p {
    text-align: left;
}

#stu_side {
    width: 90%;
    margin: auto;


}

.stu_side {
    width: 40%;
    margin: auto;
}

.portfolio {
    width: 70%;
    margin:auto;
    margin-top: 100px;
}

.portBox {
    margin-top: 24px;
    width: 100%;
    height: 324px;
    border: 1px solid #333;
    display: flex;
    font-size: 18px;
    font-weight: lighter;
    color: #333;
}

.right_side {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}


#portImg {
    width: 50%;
    height: 100%;
    background-color: #727272;
}

#portName {
    width: 80%;
    height: 20%;
    margin: auto;
}

#portIntro {
    width: 80%;
    height: 50%;
    margin: auto;
}

#portDet {
    width: 80%;
    height: 10%;
    margin: auto;
    position: relative;
}

#more_portfolio {
    position: absolute;
    width: 50%;
    height: 100%;
    border: none;
    right: 0;
    background-color: #727272;
    color: #fff;
}

#emp {
    font-weight: bold;
    font-size: 20px;
}


/* Works_2 페이지 */
.sub_li2 {
    margin: auto;
    margin-left: 200px;
    display: flex;
    width: 500px;
    line-height: 48px;
    justify-content: space-between;
    font-size: 14px;
}

.sub_li2 a {
    text-decoration: none;
    color: #333;
}

 .mainItemcon{
     width: 100vw;
     height: 612px;

     background-image: url('./img/work2-poly.png');
     background-position: center;
     background-repeat: none;
     background-size: cover;

     display: flex;
     justify-content: center;
 }

 .mainItem{
     width: 70vw;
     height: 369px;

     display: flex;
     flex-direction: row;
     justify-content: space-between;

     margin-top: 48px;
 }

 .mainItem div{
     width: 590px;
     height: 369px;
     
     background-image: url('./img/worksImg.png');
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
 }

 .mainItem h1{
     color: #fff;
     font-size: 40px;
     font-weight: 700;

     margin-top: 106px;
     margin-right: 280px;
 }

 #comment_btn {
     margin-top: 306px;
    margin-left: -360px;
    width: 136px;
    height: 32px;
    border:none;
    border-radius: 10px;
    background-color: #fff;
    color: #3B72EE;
}

#comment_exp {
    width: 30%;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 172px;
    margin-left: 55%;
    font-size: 15px;
    line-height: 20px;
}

#work_img {
    width: 76%;
    margin: auto;
    height: 440px;
    background-color: #EBEBEB;

    background-image: url('./img/woelMiddleimg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 205px;

}

#det_intro {
    margin: auto;
    margin-top: 32px;
    margin-bottom: 48px;
    width: 60%;
    text-align: center;
}

.middle_work {
    width: 65%;
    height: 330px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 262px;
}

#middle-workGap{
    margin-bottom: 244px;
}

.mwImg {
    width: 45%;
    height: 100%;
}

#mw1 {
    background-image: url('./img/work_detail/image\ 42.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#mw2 {
    background-image: url('./img/work_detail/image\ 43.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#mwIntro {
    width: 49%;
    height: 100%;

    margin-top: 48px;
}

#left {
    text-align: left;

    color: #4D4D4D;
    font-size: 16px;
    line-height: 24px;
}

#right {
    text-align: right;

    color: #4D4D4D;
    font-size: 16px;
    line-height: 24px;
}

.newContent{
    width: 65%;
    height: 660px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.newContent p{
    width: 85%;
    color: #4D4D4D;
    font-size: 16px;
    line-height: 24px;
}

.newContentImg{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newContentImg div{
    width: 500px;
    height: 470px;

    margin-bottom: 90px;
}

#new1 {
    background-image: url('./img/work_detail/스크린샷\ 2021-12-15\ 오전\ 1.02\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#new2 {
    background-image: url('./img/work_detail/123.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#commentTitle{
    margin-top: 262px;
}

#commentTitl2{
    margin-top: 218px;
}

#commentP{
    width: 65%;
    font-size: 18px;
    line-height: 28px;
    color: #595959;

    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
}

#pro{
    width: 55%;
    margin: auto;
    margin-top: 68px;

    text-align: right;
    font-size: 16px;
    color: #595959;
}

#pro span{
    font-size: 30px;
    color: #595959;
    margin-left: 32px;
    font-weight: 700;
}


.detail_work {
    display: flex;
    width: 60%;
    height: 248px;
    margin: auto;
    margin-top: 96px;
    justify-content: space-around;
}

#deta {
    width: 30%;
    height: 100%;
}

#deta > #stuImg{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    margin: auto;

    background-color: #c2c2c2;
    margin-bottom: 32px;
}

#deta ul{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    text-align: center;
}

#deta li{
    background-color: #B9CEFF;
    padding: 4px 12px;
    border-radius: 14px;
}

.pop{
    position: fixed;
    top: 0;
    right: 0;

    width: 559px;
    height: 100vh;
    background-color: #3B72EE;

    box-shadow: -1px 0px 12px #313f7b;
}

.fa-times {
    font-size: 40px;
    color: #fff;
    margin-top: 60px;
    margin-left: 40px;

}

.pop h1 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.cm_box {
    width: 368px;
    height: 250px;
    border: 2px solid #fff;
    margin: auto;
    margin-top: 60px;
    position: relative;
}

.cm_box p {
    color: #fff;
    margin-top: 20px;
    margin-left: 5%;
    display: inline-block;
    margin-right: 10px;
}

#name {
    width: 75%;
}

#cmt {
    width: 90%;
    height: 50%;
    font-size: .8rem;
    letter-spacing: 1px;
    position: absolute;
    left: 5%;
    top: 50px;
}

textarea:focus {outline: none}

#submit {
    width: 137px;
    height: 28px;
    transform: translate(-50%, -50%);
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 14px;
    background-color: transparent;
}

.chat {
    width: 368px;
    height: 400px;
    position: absolute;
    top: 300px;
    overflow-y: scroll;

}

.chated {
    width: 100%;
    height: 80px;
    display: flex;
    margin-top: 20px;
    overflow-y: scroll;
    
}

#nm {
    width: 20%;
    height: 100%;
    top: 0;
    line-height: 40px;
    
}

#sp {
    margin: 0;
    line-height: 20px;
    width: 80%;

}


@media (min-width: 1920px) {
    .mainItem h1{
        color: #fff;
        font-size: 40px;
        font-weight: 700;
   
        margin-top: 106px;
        margin-right: 400px;
    }

    .newContentImg div{
        width: 560px;
    }

 }

/* mde.html */
.aboutTitle{
    color: #3B72EE;
    font-size: 39px;
    font-weight: 500;
    line-height: 56px;
    text-align: center;

    margin-top: 94px;
    margin-left: 650px;
    z-index: 2;
}

.poly3{
    width: 340px;
    height: 370px;
    transform: rotate(20deg);

    background-image: url('./img/work_Rectangle\ 159.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    z-index: -1;
    right: -100px;
    top: 40px;

}

.poly4{
    width: 300px;
    height: 300px;
    
    background-image: url('./img/com_Group\ 86.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    z-index: -1;
    left: -80px;
    top: 500px;

}

#info{
    font-size: 15px;
    color: #4D4D4D;
    line-height: 28px;
    text-align: center;

    margin-top: 48px;
}

.backgroundText{
    opacity: 15%;
    font-size: 120px;
    color: #3B72EE;
    font-weight: 500;

    position: absolute;
}

#media{
    top: 200px;
    left: 40px;
}

#design{
    top: 535px;
    right: 40px;
}

#Engineering{
    top: 1580px;
    left: 40px;
}

#firstmdeCon{
    margin-top: 288px;
}

#secondmdeCon{
    margin-top: 120px;
}

.mdeCon{
    width: 100%;
    height: 273px;
}

.introduce {
    width: 1680px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    color: #4D4D4D;

    gap: 32px;

}

.introduce div {
    width: 500px;
    height: 273px;
    
}

#introduceImg {
    background-color: #EBEBEB;
    border-radius: 10px;
    filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25))
}

.introduce h2 {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 32px;
}

.introduce p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.mdePicture{
    width: 100%;
    height: 330px;

    margin-top: 330px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mdePicture h1{
    font-size: 25px;
    font-weight: 700;
    color: #3B72EE;
}

.picCon{
    width: 1020px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
}

.picCon div{
    width: 220px;
    height: 256px;
    border: none;
    border-radius: 20px;
    background-color: #E0E0E0;
    box-shadow: 2px 4px 15px #c2c2c2;
}

footer{
    width: 100%;
    height: 170px;
    text-align: center;
}

footer > h3{
    color: #5F5F5F;
    font-size: 26px;
    font-weight: 400;
    padding-top: 72px;
}

/* tag 페이지 */
#tagTitle{
    margin-bottom: 98px;
}

#tagTitle2{
    margin-top: 150px;
    margin-bottom: 98px;
}

#box1{
    width: 65%;
    margin: auto;
    height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 90px;
}

#eachBox{
    width: 480px;
    height: 100%;
}

#eachBox div{
    width: 100%;
    height: 443px;
}

#subTag{
    margin-top: 24px;
    font-size: 24px;
    font-weight: 500;

    line-height: 24px;
}

#subTag span{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    background-color: #C4C4C4;

    padding: 4px 8px;
    border-radius: 13px;
    margin-left: 16px;
}

#B1{
    background-image: url('./img/Frame\ 57.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#B2{
    background-image: url('./img/image\ 39.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#middleTI{
    width: 70%;
    margin: auto;
    height: 460px;

    display: flex;
    flex-direction: column;
}

#Tag_img {
    width: 100%;
    margin: auto;
    height: 440px;

    background-image: url('./img/woelMiddleimg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 24px;
}

#MDHolder{
    width: 100%;
    text-align: center;
}

#middleMore{
    width: 123px;
    height: 38px;
    background-color: #B9CEFF;
    border-radius: 10px;
    border: none;

    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 6px 12px;

    margin: auto;
    margin-top: 90px;
    margin-left: auto;

}

.studentTag{
    width: 65%;
    height: 650px;

    margin: auto;
    margin-top: 132px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;

    text-align: center;
}

.studentTag div{
    width: 241px;
    height: 264px;
    border-radius: 124px;

    background-color: #E7E7E7;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.studentTag h2{
    font-size: 16px;
    color: #fff;
    margin-top: 80px;
}

.studentTag p{
    font-size: 12px;
    color: #3B72EE;
}

.companyTag{
    width: 65%;
    height: 780px;

    margin: auto;
    margin-top: 132px;
    padding-bottom: 30px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;

    text-align: center;
} 

#companyBox{
    width: 241px;
    height: 340px;
    border: solid 1px #333;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#companyBox div{
    width: 80%;
    height: 210px;
    border-radius: 124px;
    background-color: #E7E7E7;

    margin-top: 48px;
}

#companyBox div > h2{
    font-size: 16px;
    color: #333;
    margin-top: 90px;
    font-weight: 400;
}

.tagPage_tag {
    width: 100%;
    height: 378px;
    margin: auto;
    position: relative;

    background-image: url('./img/tagBack.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.tagPage_tag p {
    text-align: center;
    padding-top: 160px;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

@media (min-width: 1920px) {
    

    #eachBox{
        width: 540px;
        height: 100%;
    }
}




